# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
*.cpython-*

# Environment files
.env
*.env

# Virtual environments
venv/
.venv/

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/
